**/target
/Cargo.lock
**/node_modules
**/**/venv
**/.vscode
**/*.class
**/__pycache__/
**/bin/
**/*.dumpstream
**/obj
**/vendor
**/**.gem
.idea
/client-specification

## Specific files we want to ignore
/yggdrasilffi/unleash_engine.h
/go-engine/go-engine
/go-engine/libyggdrasilffi.so
/go-engine/unleash_engine.h
/php-engine/unleash_engine.h
/php-engine/libyggdrasilffi.so
/ruby-engine/lib/libyggdrasilffi*.*

# Devenv
.devenv*
devenv.local.nix

# Direnv
.direnv*

.DS_Store