[target.x86_64-unknown-linux-musl]
rustflags = [
    "-C", "target-feature=-crt-static",
]

[target.aarch64-unknown-linux-musl]
rustflags = [
    "-C", "target-feature=-crt-static",
]

[target.wasm32-unknown-unknown]
rustflags = ['--cfg', 'getrandom_backend="custom"']