---
name: .NET Build

on:
  push:
    branches:
      - main
    paths:
      - "dotnet-engine/**"
      # Build in main if anything changes in yggdrasil or the ffi layer
      - "unleash-yggdrasil/src/**.rs"
      - "yggdrasilffi/src/**.rs"
  pull_request:
    branches:
      - main
    paths:
      - "dotnet-engine/**"

jobs:
  build-dotnet:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      security-events: write
      actions: read
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Install dependencies
        run: sudo apt-get update && sudo apt-get install -y libc6-dev

      - name: Verify libdl installation
        run: ls -la /usr/lib/x86_64-linux-gnu/libdl.so

      - name: Set up environment variables
        run: echo "LD_LIBRARY_PATH=/usr/lib/x86_64-linux-gnu:$LD_LIBRARY_PATH" >> $GITHUB_ENV

      ## snatched from build-java.yml
      ## begin build yggdrasil (maybe this can be a separate job)
      - name: Install rust
        run: |
          rustup set auto-self-update disable
          rustup toolchain install stable --profile default
          rustup show
      - name: Rust cache
        uses: Swatinem/rust-cache@v2
      - name: Build yggdrasil
        run: cargo build --release
      ## end build yggdrasil

      ## snatched from build-java.yml
      ## Test requirements
      - name: Get client spec
        uses: actions/checkout@v3
        with:
          repository: Unleash/client-specification
          ref: v5.1.0
          path: client-specification

      - name: Set up .NET
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: "6.0.x"

      - name: Restore dependencies
        run: |
          cd dotnet-engine
          dotnet restore dotnet-engine.sln

      - name: Check formatting
        run: |
          cd dotnet-engine
          dotnet format --verify-no-changes

      - name: Build
        run: |
          cd dotnet-engine
          dotnet build dotnet-engine.sln --configuration Release --no-restore

      - name: Test
        run: |
          cd dotnet-engine/Yggdrasil.Engine.Tests
          dotnet test --no-restore
