name: Build and Publish WASM

on:
  pull_request:
  push:
    branches:
      - main
    paths:
      - 'wasm-engine/**'
    tags:
      - '*'
  workflow_dispatch:
    inputs:
      version:
        description: 'Version (for manual trigger)'
        required: true

jobs:
  build-and-publish-wasm:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: wasm-engine
    steps:
      - uses: actions/checkout@v2

      - name: Install Rust
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          override: true

      - name: Install wasm-pack
        uses: jetli/wasm-pack-action@v0.3.0
        with:
          working-directory: wasm-engine

      - name: Build WASM
        run: wasm-pack build --target nodejs

      - name: Publish to npm
        run: |
          cd pkg
          echo "//registry.npmjs.org/:_authToken=${NODE_AUTH_TOKEN}" > .npmrc
          npm publish --access public
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}